google-chrome/
dconf/
Code/
microsoft-edge/
spotify/
pulse/
gtk-3.0/
kde.org/
systemd/
session/
discord/
fcitx/
fcitx5/
blender/
ibus/
user-dirs.dirs
user-dirs.locale
xsettingsd/
JetBrains/
pulse/
session/
systemd/
trashrc
