google-chrome/
dconf/
Code/
microsoft-edge/
spotify/
pulse/
gtk-3.0/
kde.org/
systemd/
session/
discord/
fcitx/
fcitx5/
blender/
ibus/
user-dirs.dirs
user-dirs.locale
xsettingsd/
JetBrains/
pulse/
session/
systemd/
trashrc
obsidian/
Arduino IDE/
QtProject.conf
VirtualBox/
arduino-ide/
mimeapps.list
grammarly-languageserver/
sublime-text/
yay/
kiorc
menus/
google-chrome-for-testing/
configstore/
notion-app-enhanced/
notion-nativefier-46aee8/