.password_popup {
  background: $bg-color;
  border-radius: 12px;
  padding: 16px 20px;
}

.password_title {
  font-size: 13px;
  font-weight: 600;
}

.password_input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #515151;
  font-size: 13px;
  background: #222222;
}

.cancel_button,
.ok_button {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.cancel_button {
  background: #222222;
}

.cancel_button:hover {
  background: #1e1e1e;
}

.ok_button {
  background: $item-active-color;
  color: #fff;
}

.ok_button:hover {
  background: $item-bg-color;
}
