#custom-launcher,
#custom-texttwo,
#custom-texthree,
#custom-textfour,
#custom-media {
    margin: 0 10px;
}
#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

